@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Marck+Script&display=swap');
body{
    font-family: 'Caveat', cursive;
    background-image: url(../img/IMG_20210629_193543_752.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: 35px;
}
header{
    display: flex;
    justify-content: center;
}
.logo{
    max-width: 175px;
    max-height: 175px;
}
nav{
    display: flex;
    justify-content: space-between;
}
a{
    color: black;
    text-decoration: none;
    font-family:  'Marck Script', cursive;
    margin: 25px;

}
a:hover{
    color: darkred;
    font-size: 45px;
}
.container{
    text-align: center;
}
.s-s-one{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: 20px;
}
.s-s-two{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: 20px;
}
.s-s-one img{
    max-width: 800px;
    max-height: 600px;
    border: brown solid 5px;
    display: flex;
    align-items: center;

}
.s-s-two img{
    max-width: 800px;
    max-height: 600px;
    border: brown solid 5px;
    display: flex;
    align-items: center;

}
footer p{
    background-color: white;
    color: black;
    border-radius: 20px;
}