@media screen and (max-width: 992px){
    .logo{
        max-width: 70px;
        max-height: 70px;
    }
    a{
        font-size: 30px;
        margin: 15px;
    }
    p{
        font-size: 30px;
    }
}
@media screen and (max-width: 768px){
    .logo{
        max-width: 70px;
        max-height: 70px;
    }
    a{
        font-size: 19px;
        margin: 10px;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (max-width: 576px){
    .logo{
        max-width: 70px;
        max-height: 70px;
    }
    a{
        font-size: 19px;
        margin: 10px;
    }
    p{
        font-size: 15px;
    }
}